ul.nav {
	list-style: none;
	padding: 0; 

} 

ul.nav li {
	display: inline; 
}

nav a {
	padding: 8px;
	font-family: "Arial";
	font-size: 12pt;
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: #196666;
}

nav {
	background-color: #2eb8b8;
	padding: .2em;
	text-align: center;

}

.content {
	width: auto;
	background-color: #f2e6d9;
	text-align: center;
	margin: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.social-media {
	position: fixed;
	left: 0px;
	top: 100px;
	background-color: #f9f2ec;
	padding: 25px;
}

h1 {
	font-family: "Arial";
	font-size: 36px;
	font-weight: bold;
}

p {
 text-align: center;
 font-family: "Arial"
}

.paddedtext {
	padding: 0px 250px;
}